html{
	height: 100%;
	margin: 0px;
	padding: 0px;
	}

body{
	margin: 0px;
	padding: 0px;
	height: 100%;
	}
	
#header{
	position: absolute;
	font-size: 24px;
	background-color: #EEFEFE;
	box-shadow: 0px 2px 5px grey;
	margin:0px;
	width:100%;
	z-index:10;
}

header{
	padding: 10px;
	margin:0px;
	z-index: 10;
}

#main{
	z-index: 0;
	margin: 10px;
	padding: 80px 20px 10px 20px;
	width: 90%;
	height: calc(100% - 90px);
	margin: auto;
	background-color: #FEF1F7;
	box-shadow: 2px 0px 5px grey, -2px 0px 5px grey;
}

a{
	text-decoration: none;
}

a:visited{
	color:blue;
}

a:active{
	color:red;
}