
@media screen and (max-width:600px){
	.container{width:400px}
	
	#content1, #content2{
		width:45%;}
	#content3, #content4{
		width:45%;}
	#content5, #content6{
		width:45%;}
		
	.content-box{
		height:150px;}
	
}

@media screen and (min-width:601px){
	.container{width:601px}
	
	#content1, #content2{
		width:48%;}
	#content3, #content4{
		width:48%;}
	#content5, #content6{
		width:48%;}
	.content-box{
		height:200px;}
}


@media screen and (min-width:900px){
	.container{
		width:900px;
		margin: 0px;
		padding: 0px;
	}
	
	#content1, #content2, #content3{
		width:32.8%;
		margin: 0px;
		padding: 0px;
		}
		
	#content4, #content5, #content6{
		width:32.8%;
		margin: 0px;
		padding: 0px;
		}
	.content-box{
		height:300px;
		margin: 0px;
		padding: 0px;}
}

.container{
		display: flex;
		flex-wrap: wrap;
		position: relative;
		margin-left:auto;
		margin-right:auto;
		margin-top:10%;
		height:90%;
		padding:0px;
	}

	
.content-box{
	border-style: solid;
	border-width: 2px;
	margin: 0;
	padding: 0px;
}

.clicked-box{
	width: calc(100% - 30px) !important;
	height: 600px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	color: red;
}

.close-button{
	position: absolute;
	top:0;
	right:13px;
	font-weight: bold;
	background-color: transparent;
	border: none;
	color: red;
	on:
}
.close-button:hover{
	background-color:black
};

html{
	margin: 0px;
	padding: 0px;
}

body{
	margin: 0px;
	padding: 0px;
}

a{
	text-decoration: none;
}

a:visited{
	color:blue;
}

a:active{
	color:red;
}