
@media screen and (max-width:600px){
	.container{
		width:400px
	}

	#content1, #content2{
		width:45%;
	}

	#content3, #content4{
		width:45%;
	}

	#content5, #content6{
		width:45%;
	}

	.content-box{
		height:150px;
		padding-top: 40px !important;
	}

		.container{
			margin-top: 30% !important;
		}

		#border1, #border2, #border3{
			top: -75px;
			left: -60px;
		}
		#border4, #border5, #border6{
			top: -75px;
			left: -60px;
		}

		h1{
			font-size: 24px;
		}

		img{
			transform: scale(.6) !important;
		}
}

@media screen and (min-width:601px) and (max-width:899px){
	.container{
		width:601px
	}

	#content1, #content2{
		width:48%;
	}

	#content3, #content4{
		width:48%;
	}

	#content5, #content6{
		width:48%;
	}

	.content-box{
		height:200px;
	}

	#border1, #border2, #border3{
		top: -75px;

	}
	#border4, #border5, #border6{
		top: -75px;
	}

	h1{
		padding-top: 40px;
	}

	img{
		transform: scale(.9, .7) !important;
	}
}


@media screen and (min-width:900px){
	.container{
		width:900px;
		margin: 0px;
		padding: 0px;
	}

	#content1, #content2, #content3{
		width: 32%;
		width: calc((900px - 30px) / 3);
	}

	#content4, #content5, #content6{
		width: 32%;
		width: calc((900px - 30px) / 3);
	}

	.content-box{
		height:335px;
	}

	#border1, #border2, #border3{
		top: 0;
	}
	#border4, #border5, #border6{
		top: 0;
	}

	h1{
		padding-top: 105px;
	}
}

html{
	height: 90%;
	margin: 0;
	padding: 0;
}

body{
	background-image: linear-gradient(to bottom right, #f3f8ff, #efefef, #f3f8FF);
	height: 90%;
	background-repeat: no-repeat;
  background-attachment: fixed;
	margin: 0px;
	padding: 0px;
}

h1{
	background: none;
	text-align: center;
	user-select: none;
	margin: 30px;
}

p{
	padding: 5%;
}

.container{
		display: flex;
		flex-wrap: wrap;
		position: relative;
		margin-left:auto;
		margin-right:auto;
		margin-top:8%;
		height:90%;
		padding:0px;
	}


.content-box{
	box-shadow: 2px 2px 2px  #3d4447;
	margin: 5px;
	padding: 0px;
	background-color: white;
	transform: translate(0);
}

.hover{
	transform: translate(-1px,-1px);
	box-shadow: 4px 3px 4px #3d4447;
}

.clicked-box{
	width: calc(100% - 30px) !important;
	height: 600px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	border: 1px solid;
	box-shadow: 4px 2px 8px #3d4447;
	border-color: #3d4447;
}

.close-button{
	position: absolute;
	top: 6px;
	right:17px;
	font-weight: bold;
	font-size: 18px;
	background-color: transparent;
	border: none;
	color: red;
}
.close-button:hover{
	background-color:black;
}

.border{
	position: absolute;
	transition: transform .1s;
}


/*
#content1{
	background-color: ;
}

#content2{
	background-color: ;
}

#content3{
	background-color: ;
}

#content4{
	background-color: ;
}

#content5{
	background-color: ;
}

#content6{
	background-color: ;
}
*/
a{
	text-decoration: none;
}

a:visited{
	color:blue;
}

a:active{
	color:red;
}
